In [2]:
import pandas as pd
import pytest
from utils import *
d=open_logs_to_df(file="notifymessages_paperlive.log")

logfile opened notifymessages_paperlive.log with cols:
Index(['', 'event', 'value', 'name', 'status', '_dt', 'asset', 'type', 'price',
       'size', 'commission', 'tradeid', 'ref', 'isclosed', 'mesage',
       'market_open', 'market_close', 'open', 'close', 'count', 'label',
       'side', 'margin', 'message', 'position_type', 'cash', 'isbuy',
       'client_order_id'],
      dtype='object')

# Check completed

In [3]:
d.query("status=='Completed'")[['_dt','asset','event','label','side','size','type','status','ref']]

                     _dt asset  event label  side  size    type     status ref
44   2021-03-02T19:21:00  TSLA  order  main  sell  -139  Market  Completed   3
59   2021-03-02T19:22:00  TSLA  order  stop   buy   139    Stop  Completed   4
90   2021-03-02T19:25:00  TSLA  order  main   buy   137  Market  Completed   5
92   2021-03-02T19:25:00  TSLA  order  main   buy   137  Market  Completed   5
103  2021-03-02T19:26:00  TSLA  order  stop  sell  -137    Stop  Completed   6
123  2021-03-02T19:28:00  TSLA  order  main  sell  -137  Market  Completed   7
125  2021-03-02T19:28:00  TSLA  order  main  sell  -137  Market  Completed   7

# Check opened positions

In [4]:
d.query("event=='position_open'")[['_dt','asset','position_type','event','value','message']]

,_dt,asset,position_type,event,value,message
38,2021-03-02T19:20:00,TSLA,short,position_open,|--------------------SHORT--------------------|,NaN
82,2021-03-02T19:24:00,TSLA,long,position_open,|--------------------LONG--------------------|,NaN
117,2021-03-02T19:27:00,TSLA,short,position_open,|--------------------SHORT--------------------|,NaN

# Check canceled stop orders

In [5]:
d.query("event=='cancel_stop'")

,,event,value,name,status,_dt,asset,type,price,size,...,close,count,label,side,margin,message,position_type,cash,isbuy,client_order_id
142,NaN,cancel_stop,NaN,NaN,NaN,2021-03-02T19:29:00,TSLA,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
d.query("status=='Completed' & label=='main'")

,,event,value,name,status,_dt,asset,type,price,size,...,close,count,label,side,margin,message,position_type,cash,isbuy,client_order_id
44,NaN,order,NaN,NaN,Completed,2021-03-02T19:21:00,TSLA,Market,691.75,-139,...,NaN,NaN,main,sell,0.0,NaN,NaN,NaN,NaN,NaN
90,NaN,order,NaN,NaN,Completed,2021-03-02T19:25:00,TSLA,Market,694.49,137,...,NaN,NaN,main,buy,0.0,NaN,NaN,NaN,NaN,NaN
92,NaN,order,NaN,NaN,Completed,2021-03-02T19:25:00,TSLA,Market,694.49,137,...,NaN,NaN,main,buy,0.0,NaN,NaN,NaN,NaN,NaN
123,NaN,order,NaN,NaN,Completed,2021-03-02T19:28:00,TSLA,Market,692.73,-137,...,NaN,NaN,main,sell,0.0,NaN,NaN,NaN,NaN,NaN
125,NaN,order,NaN,NaN,Completed,2021-03-02T19:28:00,TSLA,Market,692.73,-137,...,NaN,NaN,main,sell,0.0,NaN,NaN,NaN,NaN,NaN

In [7]:
d.query("status=='Completed' & label=='expiration'")

Empty DataFrame
Columns: [, event, value, name, status, _dt, asset, type, price, size, commission, tradeid, ref, isclosed, mesage, market_open, market_close, open, close, count, label, side, margin, message, position_type, cash, isbuy, client_order_id]
Index: []

[0 rows x 28 columns]